/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2016, 6:03:14 PM
    Author     : kevinamrein
*/

.reviewAvgLabel, .authorTitle {
    margin-left: 2em;
}

.reviewAvgLabel {
    padding-bottom: 10px;
}

.companyName {
    margin-left: 1%;
}

.review {
    margin-left: 6%;
    margin-right: 6%;
    background-color: #a993d2;
    margin-top: 2%;
}

.reviewComment {
    margin-left: 4%;
    margin-bottom: 1%;
}

.individualReviewScore {
    text-align: center;
}

.reviewsButton {
    background-color: #a993d2;
    margin-left: 2em;
    
}

.allreviews {
    overflow: scroll;
    margin-bottom: 8%;
}