/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2016, 4:47:58 PM
    Author     : shameszl
*/

.navbar-default {
    background-color: #6A509B;
    border-radius: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.header-search {
    background-color: #9681B6;
    border: solid 1px #7F68A8;
    color: white;
}

.header-search-btn:hover {
    background-color: #9681B6;
    border-color: white;
    margin-left: 5px;
}

.header-search-btn, .header-search-btn:active:focus, .header-search-btn:active,
.header-search-btn:active:focus {
    background-color: transparent;
    border-color: white;
    margin-left: 5px;
}

.header-search::-webkit-input-placeholder { color: white; }
.header-search:-moz-placeholder { color: white; }
.header-search::-moz-placeholder { color: white; }
.header-search:-ms-input-placeholder { color: white; }

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #4B4B4B;
    width: 100%;
    height: 60px;
    z-index: 999;
}

.container {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-container {
    background-color: #190438;
    height: 400px;
}

.items {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 50px;
}

.item {
    margin: 2em;
    cursor: pointer;
}

.item:hover {
    color: white;
}

.item-header {
    color: white;
    text-align: center;
    margin: 1em;
}

.item-content {
    width: 250px;
    height: 150px;
    background-color: #6A509B;
    border-radius: 5px;
}

.item-content>i {
   font-size: 100px;
   text-align: center;
   width: 100%;
   margin-top: 22px;
}

.item-content>i:hover {
    color: #190438;
}

.item-content>img {
    height: 100px;
    width: 100px;
    margin-left: 75px;
    margin-top: 25px;
}

.top-internships {
    color: black;
    text-align: center;
}

.internships {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.internship {
    width: 350px;
    height: 250px;
    background-color: lightgrey;
    margin: 2em;
    border-radius: 5px;
}

.avatar {
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 1px solid lightgrey;
    margin: 0 auto;
}

.body-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 70px;
    height: auto;
}

.account-container {
    width: 600px;
    margin: 0 auto;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #190438;
}

a {
    color: white;
}

.register-container {
    width: 700px;
    margin: 0 auto;
}

hr{
    width: 300px;
    color: #fff;
}

label{
    margin-bottom: 15px;
}

.main-login {
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 500px;
    padding: 10px 40px;
    height: 400px;
}

.login-button{
    margin-top: 5px; 
}

.body-content {
    margin: 0 auto;
    width: 700px;
    margin-bottom: 150px;
}

.body-rows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-cols {
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
}

.white-box {
    background-color: whitesmoke;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.body-background {
    background-color: #190438;
}

.productbox {
    position: relative;
    border: 1px solid #ddd;
    margin-bottom: 2em;
    border-radius: 5px;
    -webkit-transition: all .2s ease-in-out; 
    width: 300px;
}
.caption {
    padding:10px;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    font-size: 11px;
    color: #FFF;
    border-radius: 5px;

}

.img-responsive img {
    width: 100%;    
}

.btn-block {
    margin-top: 5px;
}

.org-name {
    font-size: 26px;
    margin-top: 0px;
}

.org-tag {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.user-wrapper .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin: 5px;
}

.user-wrapper .description {
    padding: 25px;
    padding-top: 15px;
    background-color: whitesmoke;
}

.user-wrapper img {
    width:100%;
}


/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

.btn-social:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}

.internship-profile {
    width: 800px;
    /*height: 475px;*/
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.internship-card {
    margin-left: 0px; 
    margin-bottom: 10px; 
    background-color: white; 
    padding: 5px; 
    padding-left: 10px; 
    border-radius: 5px;
}

.custom-hr {
    width: 100%;
}

.error {
    margin-bottom: 0;
    padding-top: 11px;
    color: red;
}

.results {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.result {
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
}

.rating {
    width: 200px;
    justify-content: flex-start;
    margin-top: -3px;
    margin-right: -70px;
}

.rating>h3 {
    margin-left: 10px;
}

.result-header>a {
    color: inherit;
}

.result-subheader {
    margin-top: 36px;
    color: darkgrey;
    margin-left: 1.5em;
}

.flex-start {
    justify-content: flex-start;
}

.review-rating {
    width: 200px;
    margin-top: 4px;
}

.alert-warning {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 2em;
}